* {
	margin: 0; padding: 0;
}

.id-check-wrap {
	text-align: right;
}

.join-container {
	padding: 150px 150px 0px 150px;	
}

.join-container > div:nth-child(1) {
	margin-bottom: 20px;
}

.join-container > form {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.disabled {
	background: #f3f3f3;
}

.pw-check-wrap {
	text-align: right;
}

.dis-none {
	display: none;
}

.certification-num {
	text-align: right;
}

.utils {
	display: flex;
	justify-content: space-between;
}