.modal-active {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    width: 50%;
    height: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-disabled {
    display: none;
}
.disabled {
    display: none !important;
}

.find-id:hover, .find-pw:hover {
    cursor: pointer;
}

.msg-wrap {
    padding: 15px;
}

.dis-none {
    display: none;
}

.login-container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.login-bg {
    width: 1000px;
    padding: 150px;
}

.find-wrap {
    margin-top: 20px;
}