.mypage-container {
	background: #f3f3f3;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.mypage-header {
	background: grey;
    display: flex;
    align-items: end;
	height: 200px;
	padding: 10px;
}

.mypage-header > div {
	display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.mypage-body {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.mypage-body > div {
	height: 200px;
	background: white;
}

.my-history-wrap {
	background: white;
	height: 200px;
	padding: 10px;
}

.my-history {
	display: flex;
	gap: 25%;
	justify-content: center;
    height: 100%;
    align-items: center;
}

.my-history > div {
	text-align: center;
}

.dis-none {
	display: none;
}

.disabled {
	background: #efefef !important;
}

.password {
	margin-bottom: 30px;
}